.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  width: 500px;
  gap: 0.75rem;
}

button, h3 {
  width: fit-content;
  height: fit-content;
}
.section {
  border: 1px solid black;
}